[submodule "modules/libzmq"]
	path = libzmq/repo
	url = https://github.com/zeromq/libzmq.git
[submodule "modules/zmqcpp"]
	path = cppzmq/repo
	url = https://github.com/zeromq/cppzmq.git
[submodule "modules/framework"]
	path = framework/repo
	url = https://github.com/jared-two-foxes/framework.git
[submodule "allocate"]
	path = allocate/repo
	url = https://github.com/jared-two-foxes/allocate.git
[submodule "terminal/repo"]
	path = terminal/repo
	url = https://github.com/jared-two-foxes/terminal.git
[submodule "foundation/repo"]
	path = foundation/repo
	url = https://github.com/jared-two-foxes/foundation.git
[submodule "SQLiteCpp/repo"]
	path = SQLiteCpp/repo
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "allocate/schedule/repo"]
	path = allocate/schedule/repo
	url = https://github.com/jared-two-foxes/schedule.git
